<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="2" parallel="methods" name="Test">
    <classes>
      <class name="pack1.TestClass">
      <methods>
      <include name="VerifyLoginFunctionality"></include>
      <include name="VerifyLogoutFunctionality"></include>
      <include name="VerifyAddToCart"></include>
      <include name="VerifyFilterZToA"></include>
      <include name="VerifyFilterPrice"></include>
      <include name="VerifyBuyProduct"></include>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
